.container{
    height:500px;
    width:1000px;
    background-color: aqua;
    border:1px solid black;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4,100px);
    /* grid-template-rows:  1fr 1fr 1fr 1fr; */
    grid-template-rows: repeat(3,100px);
    grid-template-areas: "header header header header" " main main .sidebar" "footer footer footer footer"; 
    gap: 10px;
    justify-items:center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-auto-columns: 60px;
    grid-auto-flow: row;



}
.item{
    height:100px;
    width:100px;
    background-color: brown;
    border:1px solid black;
    color:white;
    text-align: center;
    align-content:center;
    justify-items: center;
    align-items: center;
    

}

.item1{
    grid-area: header;
    /* justify-self: start; */
} 
.item2{
    grid-area: main;
    /* justify-self: end; */
}
.item3{
    grid-area: sidebar;
    /* justify-self: baseline; */
}
.item4{
    grid-area: footer;
    /* justify-self: center; */
} 

/* the fit content uses space available but never less than min content and never more then max content */