/* p{
color:blue;
 background-color: gold;
 text-align: center;
} */
 p{
    color: blue;
    text-align: left;
}
div{
color: green;
text-align: center;
border: 5px solid black;
margin: 120px;
padding: 120px;

}
