/* p{
color:blue;
 background-color: gold;
 text-align: center;
} */
 /* p{
    color: blue;
    text-align: left;
}
div{
color: green;
text-align: center;
border: 5px solid black;
margin: 120px;
padding: 120px;

} */

/* div{
    border: 5px solid black;
    margin:50px;
    padding:50px;
}

p{
    background:  lightblue;
}

h2{
    background: lightgreen
} */
 h1{
    border : 5px solid black;
    margin: 50px;
    padding:50px
 }
  
 #box1{
    border: 2px solid black;
    margin: 20px;
    padding: 20px
 }

#box2{
    border: 2px solid black;
    margin: 20px;
    padding: 20px

 }
 #box3{
    border: 2px solid black;
    margin: 20px;
    padding: 20px
 }